{% extends "base.html" %}
{% load static %}

{% block content %}

<script src="{% static 'js/ds-card.js' %}" defer></script>

<div>
    <div>
        <h1 class="text-xl text-blue-600">Cards</h1>
        <p class="text-l text-blue-600">card varients</p>
    </div>

    <div class="grid gap-4 grid-cols-2">
        <div>
            <ds-card title="List" description="Short description" size="sm">
                <img slot="image" src="../static/img/image.svg" alt="Card image" />
            </ds-card>
        </div>
        <div>
            <ds-card title="List Hover" description="Short description" size="sm" state="hover">
                <img slot="image" src="../static/img/image.svg" alt="Card image" />
            </ds-card>
        </div>
        <ds-card title="Deck" description="This is a deck card." size="md-deck" variant="deck">
            <img slot="thumbnail" src="../static/img/thumbnail.svg" alt="Placeholder Image">
            <p slot="subtitle">Last edited</p>
        </ds-card>
        <ds-card title="Deck Hover" description="This is a deck card." size="md-deck" variant="deck" state="hover">
            <img slot="thumbnail" src="../static/img/thumbnail.svg" alt="Placeholder Image">
            <p slot="subtitle">Last edited</p>
        </ds-card>
    </div>
    <div class="mt-6"></div>
    <div class="flex flex-row gap-4">
        <ds-card title="List" description="Short description of the card." variant="horizontal" size="md">
            <img slot="image" src="../static/img/image.svg" alt="Image Description" />
        </ds-card>
        <ds-card title="List Hover" description="Short description of the card." variant="horizontal" size="md"
            state="hover">
            <img slot="image" src="../static/img/image.svg" alt="Image Description" />
        </ds-card>
    </div>
    <div class="mt-6"></div>
    <div class="flex flex-row gap-4">
        <ds-card title="List" description="Short description of the card." variant="horizontal" size="sm">
            <img slot="image" src="../static/img/image.svg" alt="Image Description" />
        </ds-card>
        <ds-card title="List Hover" description="Short description of the card." variant="horizontal" size="sm"
            state="hover">
            <img slot="image" src="../static/img/image.svg" alt="Image Description" />
        </ds-card>
    </div>
</div>


{% endblock content %}