{% extends "base.html" %}

{% block content %}



<div>
    <h1 class="text-xl text-green-800">Dashboard</h1>
    <div class="md:container md:mx-auto">
        <sl-card class="card-index">
            <div slot="header">
                Title 1
                <sl-icon-button name="gear" label="Settings"></sl-icon-button>
            </div>
            Lorem ipsum dolor sit amet, consectetur adipiscing eli
        </sl-card>
        <sl-card class="card-index">
            <div slot="header">
                Title 2
                <sl-icon-button name="bell" label="Settings"></sl-icon-button>
            </div>
            Lorem ipsum dolor sit amet, consectetur adipiscing eli
        </sl-card>
        <sl-card class="card-index">
            <div slot="header">
                Title 3
                <sl-icon-button name="basket3" label="Settings"></sl-icon-button>
            </div>
            Lorem ipsum dolor sit amet, consectetur adipiscing eli
        </sl-card>
    </div>

</div>

{% endblock content %}